.propertySection,
.propertyListItem {
  padding: 8px;
}

.propertySection {
  width: 100%;
}

.propertyListItem + .propertyListItem {
  border-top: 1px solid var(--openapi-border-color);
}

.propertySection + .propertySection {
  border-top: 1px solid var(--openapi-border-color);
}

.propertySectionExpandable {
  margin: 0 10px;
  border: 1px solid var(--openapi-border-color);
  border-radius: var(--openapi-card-border-radius);
  overflow: hidden;
}

.propertySectionExpandableHeader {
  border-bottom: 1px solid var(--openapi-border-color);
}

.paramType {
  color: #637288;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 5px;
}

.menuItemText span {
  display: flex;
  align-items: center;
}

.controlIconDefault {
  color: #939eae;
}

.controlIconValid {
  color: #12ca93;
}

.controlIconRequired {
  color: #e95f6a;
}
