.listItem {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

  background: var(--openapi-card-background-color);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
  border: 1px solid var(--openapi-border-color);
}

.listItem:first-child {
  border-top-left-radius: var(--openapi-card-border-radius);
  border-top-right-radius: var(--openapi-card-border-radius);
}

.listItem:last-child {
  border-bottom-left-radius: var(--openapi-card-border-radius);
  border-bottom-right-radius: var(--openapi-card-border-radius);
}

.listItem + .listItem {
  margin-top: -1px;
}

.listItemLabel {
  display: flex;
  font-size: 14px;
  align-items: center;
  flex: 1 1;
}
