.sectionHeader {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;

  border-bottom: 2px solid var(--ifm-table-border-color);
}

.sectionHeaderTitle {
  font-size: 0.75rem;

  text-transform: uppercase;
}

.sectionContent {
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
